<p-card>
  <h2>LSTM Model</h2>
  <p>Train and activate LSTM model</p>

  <div class="p-grid p-align-center">
    <div class="p-col">
      <form [formGroup]="form" novalidate>
        <mat-form-field>
          <input matInput formControlName="query" placeholder="Enter ticker symbol" (keyup.enter)="train()"/>
        </mat-form-field>
      </form>
    </div>
    <div class="p-col">
      End
      <input type="date" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
    </div>
    <div class="p-col">
      <p-dropdown [options]="models" [(ngModel)]="selectedModel" placeholder="Select a Model" optionLabel="name">
      </p-dropdown>
    </div>
    <div *ngIf="!isLoading">
      <button pButton type="button" label="Train" class="ui-button-secondary" (click)="train()"></button>
      <button pButton type="button" label="Score" class="ui-button-secondary" (click)="score()"></button>
      <button pButton type="button" label="Activate" (click)="activate()"></button>
      <button pButton type="button" label="Random" (click)="random()"></button>
    </div>
  </div>
  <p-table [columns]="cols" [value]="modelResults">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
