<div class="autopilot-container">
    <p-avatar icon="pi pi-prime" styleClass="p-mr-2" size="large" shape="circle" (click)="scroll()"></p-avatar>
</div>

<p-toolbar id="autopilot-toolbar">
    <div class="p-toolbar-group-left">
        <div class="toolbar-header">
            <ng-container *ngTemplateOutlet="header"></ng-container>
        </div>
    </div>
    <div class="p-toolbar">
        <div *ngIf="display">
            <p-tag value="Active"></p-tag>
        </div>
        <app-ai-picks></app-ai-picks>
    </div>
    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-play" *ngIf="!display" styleClass="p-button-success" (click)="open()"></p-button>
        <p-button icon="pi pi-times" *ngIf="display" styleClass="p-button-danger" (click)="stop()"></p-button>
        <p-button icon="pi pi-fw pi-money-bill" styleClass="p-button-success" (click)="runFindPattern()"></p-button>
        <p-button *ngIf="!display" styleClass="p-button-success" label="Next strategy" (click)="changeStrategy()"></p-button>
    </div>
</p-toolbar>

<ng-template #header>
    <h3>Autopilot</h3>
    <span *ngIf="strategyList[strategyCounter] === 'Daytrade'">
        <p-tag [value]="strategyList[strategyCounter]" severity="warning"></p-tag>
    </span>
    <span *ngIf="strategyList[strategyCounter] !== 'Daytrade'">
        <p-tag [value]="strategyList[strategyCounter]" severity="danger"></p-tag>
    </span>
    <p-tag [value]="dayTradingRiskToleranceList[dayTradeRiskCounter]"
        severity="warning" pTooltip="Day trade allocation - percentage of total bp"></p-tag>
    <p-tag pTooltip="Swing trade allocation - percentage of cash balance" [value]="riskToleranceList[riskCounter]" severity="danger"></p-tag> 
</ng-template>