<div class="autopilot-container">
    <p-avatar icon="pi pi-prime" styleClass="p-mr-2" size="large" shape="circle" (click)="open()"></p-avatar>
</div>

<p-dialog [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    [closable]="false">
    <ng-template pTemplate="header">
        <h3>Autopilot</h3>
        <p-tag [value]="strategyList[strategyCounter]" severity="success"></p-tag>
        <p-tag [value]="riskTolerance[riskCounter]" severity="danger"></p-tag>
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="isLoading">
            <label>Thinking</label>
            <p-progressBar mode="indeterminate" [style]="{ height: '1em' }"></p-progressBar>
        </div>
        <app-ai-picks></app-ai-picks>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Next strategy" class="p-button-success" (click)="changeStrategy()" iconPos="left"></p-button>
        <p-button label="Stop autopilot" class="p-button-danger" (click)="stop()" iconPos="left"></p-button>
    </ng-template>
</p-dialog>