<h3 mat-subheader>Shopping List</h3>
<p>Smart Ordering will attempt to buy at the intraday highs and sell at the intraday lows.
  *Satisfaction not guaranteed.
</p>
<div *ngFor="let other of cartService.otherOrders">
  <app-score-board [score]="scoreKeeperService.profitLossHash[other.holding.symbol]"></app-score-board>
</div>
<div *ngFor="let sell of cartService.sellOrders">
  <app-bb-card [order]="sell"></app-bb-card>
</div>
<div *ngFor="let buy of cartService.buyOrders">
  <app-bb-card [order]="buy"></app-bb-card>
</div>
<div *ngFor="let other of cartService.otherOrders">
  <app-bb-card [order]="other"></app-bb-card>
</div>
<app-bb-card [order]="spxl"></app-bb-card>
<app-bb-card [order]="uvxy"></app-bb-card>
<app-bb-card [order]="vti"></app-bb-card>
<app-bb-card [order]="vxx"></app-bb-card>
<app-bb-card [order]="mu"></app-bb-card>
