<h3 mat-subheader>Shopping List</h3>
<div>
  <button mat-button color="warn" (click)="purgeCart()">Delete Orders</button>
  <button mat-raised-button color="warn" (click)="closeAllTrades()">Close All Trades</button>
  <button mat-button color="primary" (click)="loadExamples()">Load Example Orders</button>
  <button mat-button color="primary" (click)="confirmStart()">Start</button>
</div>
<div *ngFor="let other of cartService.otherOrders">
  <app-score-board [title]="other.holding.symbol" [score]="scoreKeeperService.profitLossHash[other.holding.symbol]"></app-score-board>
</div>
<app-score-board [title]="'Total'" [score]="scoreKeeperService.total"></app-score-board>
<div *ngFor="let sell of cartService.sellOrders">
  <app-bb-card [order]="sell"
    [triggered]="sell.triggered"
    [triggeredBacktest]="sell.triggeredBacktest"
    [init]="sell.init"
    [stepForward]="sell.stepForward">
  </app-bb-card>
</div>
<div *ngFor="let buy of cartService.buyOrders">
  <app-bb-card [order]="buy"
    [triggered]="buy.triggered"
    [triggeredBacktest]="buy.triggeredBacktest"
    [init]="buy.init"
    [stepForward]="buy.stepForward">
  </app-bb-card>
</div>
<div *ngFor="let other of cartService.otherOrders">
  <app-bb-card [order]="other"
    [triggered]="other.triggered"
    [triggeredBacktest]="other.triggeredBacktest"
    [init]="other.init"
    [stepForward]="other.stepForward">
  </app-bb-card>
</div>
<!-- <app-bb-card [order]="sh"
  [triggered]="null"
  [triggeredBacktest]="null"
  [init]="null"
  [stepForward]="null">
</app-bb-card> -->
