<button mat-icon-button (click)="refresh()">
  <mat-icon>autorenew</mat-icon>
</button>
<button mat-icon-button (click)="sidenav.open()">
  <mat-icon>add_shopping_cart</mat-icon>
</button>
<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p>
      <button mat-icon-button (click)="close('toggle button')">
        <mat-icon>backspace</mat-icon>
      </button>
      <mat-list>
        <h3 mat-subheader>Buys</h3>
        <mat-list-item *ngFor="let buy of cartService.buyOrders">
          <button mat-icon-button (click)="deleteBuyOrder(buy)">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <h4 mat-line>{{buy.holding.symbol}}</h4>
          <p mat-line> {{buy.quantity}} share</p>
          <p mat-line>${{buy.price}} </p>
          <mat-divider *ngIf="buy.pending==true"></mat-divider>
          <mat-icon mat-list-icon *ngIf="buy.submitted==true">check_circle</mat-icon>
        </mat-list-item>
        Total: ${{cartService.buyTotal}}
        <mat-divider></mat-divider>
        <h3 mat-subheader>Sells</h3>
        <mat-list-item *ngFor="let sell of cartService.sellOrders">
          <button mat-icon-button (click)="deleteSellOrder(sell)">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <h4 mat-line>{{sell.holding.symbol}}</h4>
          <p mat-line> {{sell.quantity}} share</p>
          <p mat-line>${{sell.price}} </p>
          <mat-divider *ngIf="sell.pending==true"></mat-divider>
          <mat-icon mat-list-icon *ngIf="sell.submitted==true">check_circle</mat-icon>
        </mat-list-item>
        Total: ${{cartService.sellTotal}}
      </mat-list>
      <button mat-button color="primary" (click)="submitOrders()">Submit Orders</button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-portfolio-table (addCart)="addCart($event)"></app-portfolio-table>
  </mat-sidenav-content>
</mat-sidenav-container>