<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Orders</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let sell of cartService.sellOrders" class="order-card">
      <app-bb-card [order]="sell" [tearDown]="sell.stopped">
      </app-bb-card>
    </div>
    <div *ngFor="let buy of cartService.buyOrders" class="order-card">
      <app-bb-card [order]="buy" [tearDown]="buy.stopped">
      </app-bb-card>
    </div>
    <div *ngFor="let other of cartService.otherOrders" class="order-card">
      <app-bb-card [order]="other" [tearDown]="other.stopped">
      </app-bb-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
