<div class="container">
  <p-orderList [value]="otherOrders" [style]="{ width: '28vw' }" [listStyle]="{ height: '25rem' }"
    header="Day trade">
    <ng-template let-other pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <app-bb-card [order]="other" [tearDown]="other.stopped">
        </app-bb-card>
      </div>
    </ng-template>
    <ng-template pTemplate="empty">
      <p> No orders</p>
    </ng-template>
  </p-orderList>

  <p-orderList [value]="buyOrders" [style]="{ width: '28vw' }" [listStyle]="{ height: '25rem' }"
    header="Buy">
    <ng-template let-buy pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <app-bb-card [order]="buy" [tearDown]="buy.stopped">
        </app-bb-card>
      </div>
    </ng-template>
    <ng-template pTemplate="empty">
      <p> No orders</p>
    </ng-template>
  </p-orderList>

  <p-orderList [value]="sellOrders" [style]="{ width: '28vw' }" [listStyle]="{ height: '25rem' }"
    header="Sell">
    <ng-template let-sell pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <app-bb-card [order]="sell" [tearDown]="sell.stopped">
        </app-bb-card>
      </div>
    </ng-template>
    <ng-template pTemplate="empty">
      <p> No orders</p>
    </ng-template>
  </p-orderList>
</div>