<mat-card>
  <mat-card-header>
    <mat-card-title>Timeline Algorithm</mat-card-title>
    <mat-card-subtitle>Find a chain of days that match the input days</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="table-container mat-elevation-z8">
      <mat-grid-list cols="3" rowHeight="76px">
        <mat-grid-tile>
          <form [formGroup]="form" novalidate>
            <mat-form-field>
              <input matInput formControlName="query" placeholder="Enter ticker symbol" />
            </mat-form-field>
          </form>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            Start
            <input type="date" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event">
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            End
            <input type="date" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <span *ngIf="!isLoading">
          <button mat-raised-button color="primary" (click)="findTimeline()">find</button>
        </span>
        </mat-grid-tile>
      </mat-grid-list>
      <section>
        <div [chart]="openPriceChart"></div>
      </section>
      <section>
        <div [chart]="closePriceChart"></div>
      </section>
    </div>
  </mat-card-content>
</mat-card>
