<mat-card>
  <mat-card-header>
    <mat-card-title>Sequence of Events</mat-card-title>
    <mat-card-subtitle>Find sequences of days that match the input days</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Opening Price
          </mat-panel-title>
          <mat-panel-description>
            1 indicates day opened up, 0 indicates day opened down
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <div [chart]="openPriceChart"></div>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Closing Price
          </mat-panel-title>
          <mat-panel-description>
            1 indicates day closed up, 0 indicates day closed down
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <div [chart]="closePriceChart"></div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card-actions>

      <mat-grid-list cols="3" rowHeight="76px">
        <mat-grid-tile>
          <form [formGroup]="form" novalidate>
            <mat-form-field>
              <input matInput formControlName="query" placeholder="Enter ticker symbol" />
            </mat-form-field>
          </form>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            Start
            <input type="date" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event">
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            End
            <input type="date" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div *ngIf="isLoading">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
              animationDuration=".5s"></p-progressSpinner>
          </div>
          <span *ngIf="!isLoading">
            <button mat-raised-button color="primary" (click)="findTimeline()">find</button>
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
