<mat-tab-group>
  <mat-tab label="Daytrading Backtesting">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Import File
          </mat-panel-title>
          <mat-panel-description>
            Parses stocks from Stock column of Excel file
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-xls-import (onImport)="import($event)"></app-xls-import>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card>
      <mat-card-content>
        <section>
          <div class="backtest-progress">
            <mat-progress-bar mode="determinate" value="{{progressPct}}"></mat-progress-bar>
            {{progressPct}}%
          </div>
        </section>
      </mat-card-content>
    </mat-card>
    <h3 mat-subheader>Order List</h3>
    <div class="card-container">
      <p-table [columns]="cols" [value]="stocks">
        <ng-template pTemplate="caption">
          <button pButton type="button" (click)="sort()">Sort Results</button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>symbol</th>
            <th>result</th>
            <th>price</th>
            <th>wins</th>
            <th>trades</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stock>
          <tr>
            <td>{{stock.symbol}}</td>
            <td>{{scoreKeeperService.profitLossHash[stock.symbol]}}%</td>
            <td>{{stock.price | currency}}</td>
            <td>{{scoreKeeperService.winlossHash[stock.symbol]?.wins}}</td>
            <td>{{scoreKeeperService.winlossHash[stock.symbol]?.total}}</td>
          </tr>
        </ng-template>
      </p-table>
      <app-score-board [title]="'Total'" [score]="scoreKeeperService.total"></app-score-board>
      <mat-grid-list cols="5" rowHeight="150px">
        <mat-grid-tile>
          <button mat-button color="secondary" (click)="confirmBacktest()">Backtest</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="loadDefaults()">Backtest Default Orders</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="loadRandoms()">Random Backtest Orders</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="calibrate()">Calibrate</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="date-picker">
            Enter last trading date:
            <input name="endDate" type="date" [ngModel]="globalSettingsService.backtestDate"
              (ngModelChange)="globalSettingsService.backtestDate = $event">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngFor="let other of cartService.otherOrders">
        <app-score-board [title]="other.holding.symbol"
          [score]="scoreKeeperService.profitLossHash[other.holding.symbol]"></app-score-board>
      </div>
      <app-score-board [title]="'Total'" [score]="scoreKeeperService.total"></app-score-board>
      <div *ngFor="let sell of cartService.sellOrders">
        <app-bb-card [order]="sell" [tearDown]="sell.stopped">
        </app-bb-card>
      </div>
      <div *ngFor="let buy of cartService.buyOrders">
        <app-bb-card [order]="buy" [tearDown]="buy.stopped">
        </app-bb-card>
      </div>
      <div *ngFor="let other of cartService.otherOrders">
        <app-bb-card [order]="other" [tearDown]="other.stopped">
        </app-bb-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
