<mat-tab-group>
  <mat-tab label="Daytrading Backtesting">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Import File
          </mat-panel-title>
          <mat-panel-description>
            Parses stocks from Stock column of Excel file
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-xls-import (onImport)="import($event)"></app-xls-import>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card>
      <mat-card-content>
        <section>
          <div class="backtest-progress">
            <mat-progress-bar mode="determinate" value="{{progressPct}}"></mat-progress-bar>
            {{progressPct}}%
          </div>
        </section>
      </mat-card-content>
    </mat-card>
    <h3 mat-subheader>Order List</h3>
    <div class="card-container">
      <app-score-board [title]="'Total'" [score]="scoreKeeperService.total"></app-score-board>
      <mat-grid-list cols="5" rowHeight="150px">
        <mat-grid-tile>
          <button mat-button color="secondary" (click)="confirmBacktest()">Backtest</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="loadDefaults()">Load Default Orders</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="date-picker">
            Enter last trading date:
            <input name="endDate" type="date" [ngModel]="globalSettingsService.backtestDate"
              (ngModelChange)="globalSettingsService.backtestDate = $event">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngFor="let other of cartService.otherOrders">
        <app-score-board [title]="other.holding.symbol"
          [score]="scoreKeeperService.profitLossHash[other.holding.symbol]"></app-score-board>
      </div>
      <app-score-board [title]="'Total'" [score]="scoreKeeperService.total"></app-score-board>
      <div *ngFor="let sell of cartService.sellOrders">
        <app-bb-card [order]="sell"
                     [tearDown]="sell.stopped"
                     [init]="sell.init">
        </app-bb-card>
      </div>
      <div *ngFor="let buy of cartService.buyOrders">
        <app-bb-card [order]="buy"
                     [tearDown]="buy.stopped"
                     [init]="buy.init">
        </app-bb-card>
      </div>
      <div *ngFor="let other of cartService.otherOrders">
        <app-bb-card [order]="other"
                     [tearDown]="other.stopped"
                     [init]="other.init">
        </app-bb-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
