.single-card {
  position: relative;
  width: 150px;
  height: 215px;
  margin-right: 5px;
}

.card-hover {
  bottom: 1em;
}

.poker-hand-list {
  max-height: 30em;
  overflow-y: scroll;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}