.single-card {
  position: relative;
  margin: 1em;
}

.card-hover {
  width: 100%;
  height: 100%;
}

.poker-hand-list {
  max-height: 30em;
  overflow-y: scroll;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
