.login-button {
    padding-left: 16px;
}

.login-input {
  width: 250px;
}

.available-accounts {
  text-align: left;
  display: flex;
}

.item-container {
  display: flex;
}

.action-icon {
  display: flex;
  margin-left: 3rem;
}

.action-button {
  margin-right: 1rem;
}

.save-btn {
  margin-left: 0px;
}

.login-send-btn {
  margin-left: 8em;
  margin-top: 1em;
}

.available-accounts-title {
  font-weight: 700;
}