<div class="login-container">
  <form name="tdaLogin" *ngIf="selectedLogin==='tda'" [formGroup]="tdaForm">
    <div class="p-inputgroup">
      <input pInputText placeholder="Account ID" [type]="hideKey ? 'password' : 'text'" name="accountId"
        formControlName="accountId" required>
      <p-button styleClass="p-button-outlined" [icon]="hideKey ? 'pi pi-eye' : 'pi pi-eye-slash'"
        (click)="hideKey = !hideKey"></p-button>
    </div>
    <div class="p-inputgroup">
      <input pInputText placeholder="App Key" [type]="hideKey ? 'password' : 'text'" name="appKey"
        formControlName="appKey" required>
      <p-button styleClass="p-button-outlined" [icon]="hideKey ? 'pi pi-eye' : 'pi pi-eye-slash'"
        (click)="hideKey = !hideKey"></p-button>
    </div>
    <div>
      <div class="p-inputgroup">
        <input pInputText placeholder="Secret" [type]="hideSecret ? 'password' : 'text'" name="secret"
          formControlName="secret" required>
        <p-button styleClass="p-button-outlined" [icon]="hideSecret ? 'pi pi-eye' : 'pi pi-eye-slash'"
          (click)="hideSecret = !hideSecret"></p-button>
      </div>
    </div>
    <div>
      <div class="p-inputgroup">
        <textarea pInputTextarea placeholder="Callback Url" formControlName="callbackUrl" name="callbackUrl"
          required></textarea>
      </div>
      <div class="p-inputgroup">
        <p-checkbox formControlName="saveToCookie" label="Save credentials" [binary]="true"></p-checkbox>
      </div>
    </div>
    <div>

      <div *ngIf="loading">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
          animationDuration="1s"></p-progressSpinner>
      </div>
      <div *ngIf="!loading" class="login-send-btn">
        <div *ngIf="code" class="login-send-btn">
          <button pButton pRipple type="submit" label="Get Access Token" [disabled]="!tdaForm.valid" class="p-button-success"
          (click)="getAccessToken()"></button>
        </div>
        <div *ngIf="!code" class="login-send-btn">
          <button pButton pRipple type="submit" label="Sign Into Charles Schwab" [disabled]="!tdaForm.valid"
            (click)="signIn()"></button>
        </div>
      </div>

      <div class="available-accounts-title">Available Accounts</div>
      <div class="available-accounts">

        <p-listbox [options]="authenticationService.tdaAccounts" [(ngModel)]="selectedItem"
          [ngModelOptions]="{standalone: true}" [listStyle]="{'max-height':'250px', 'width':'250px'}">
          <ng-template let-account pTemplate="item">
            <div class="action-icon">
              <div class="action-button">
                <p-button pRipple class="p-button-danger" icon="pi pi-times" (click)="removeAccount(account)" class="p-button-rounded p-button-outlined p-button-sm"></p-button>
              </div>
            </div>
            <div class="item-container" (click)="selectAccount(account)">
              <div class="item-title">{{account.accountId}}</div>
            </div>
          </ng-template>
          <p-footer>
            Selected: {{authenticationService?.selectedTdaAccount?.accountId||'none'}}
          </p-footer>
        </p-listbox>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>