<div class="login-container">
  <form name="tdaLogin" *ngIf="selectedLogin==='tda'" (ngSubmit)="saveTdaLogin(tdaForm)" [formGroup]="tdaForm">
    <div class="p-inputgroup">
      <input pInputText type="text" id="float-input" placeholder="Account ID" type="text" name="accountId" formControlName="accountId"
        required />
    </div>
    <div>
      <div class="p-inputgroup">
        <input pInputText placeholder="Consumer Key" [type]="hide ? 'password' : 'text'" name="consumerKey"
          formControlName="consumerKey" required>
        <p-button styleClass="p-button-outlined" [icon]="hide ? 'pi pi-eye' : 'pi pi-eye-slash'"
          (click)="hide = !hide"></p-button>
      </div>
    </div>
    <div>
      <div class="p-inputgroup">
        <textarea pInputTextarea placeholder="Refresh Token" formControlName="refreshToken" name="refreshToken"
          required></textarea>

      </div>
    </div>
    <div>
      <div *ngIf="loading">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
          animationDuration="1s"></p-progressSpinner>
      </div>
      <div *ngIf="!loading" class="login-send-btn">
        <button pButton pRipple type="submit" label="Submit" [disabled]="!tdaForm.valid" class="p-button-success"
          (click)="saveTdaLogin()"></button>
      </div>

      <div class="available-accounts-title">Available Accounts</div>
      <div class="available-accounts">

        <p-listbox [options]="authenticationService.tdaAccounts" [(ngModel)]="selectedItem"
          [ngModelOptions]="{standalone: true}" [listStyle]="{'max-height':'250px', 'width':'250px'}">
          <ng-template let-account pTemplate="item">
            <div class="action-icon">
              <div class="action-button">
                <p-button pRipple class="p-button-danger" icon="pi pi-times" (click)="removeAccount(account)" class="p-button-rounded p-button-outlined p-button-sm"></p-button>
              </div>
            </div>
            <div class="item-container" (click)="selectAccount(account)">
              <div class="item-title">{{account.accountId}}</div>
            </div>
          </ng-template>
          <p-footer>
            Selected: {{authenticationService?.selectedTdaAccount?.accountId||'none'}}
          </p-footer>
        </p-listbox>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>