<div class="mini-card-container">
  <p-card [style]="{width: '125px', height: '130px'}">
    <div class="card-content" (mouseover)="changeText=true" (mouseout)="changeText=false">
      <span *ngIf="!changeText">
        <h4>
          {{order.holding.symbol}}
        </h4>
        <h5>{{order.holding.name}}</h5>
        <ul class="detail-list">
          <li>
            <b>Type</b> {{order.side}}
          </li>
          <li>
            <b>Quantity</b> {{order.quantity}}
          </li>
          <li>
            <b>Order</b> {{order.orderSize}}
          </li>
        </ul>
      </span>
      <span *ngIf="changeText"> <button pButton type="button" label="Delete" class="ui-button-danger"
          (click)="deleteCard()"></button>
      </span>
    </div>
  </p-card>
</div>
