.close-icon {
  font-size: 1.5em;
  top: 16px;
  left: 80px;
  cursor: pointer;
  opacity: .5;
  position: relative
}

.close-icon:focus, .close-icon:hover {
  color: #000;
  opacity: .75;
}

.mini-card-container {
  margin: 5px;
}

.detail-list {
  list-style-type:none;
  padding: 0;
}

.card-content {
  max-width: 8em;
  max-height: 10em;
}

.mini-card-button {
  margin: 1px;
}

.mini-card-input {
  .ui-inputgroup{
    input {
      width: 3em;
      height: 2.5em;
    }
  }
}
