<div class="mini-card-container">
  <p-card>
    <div class="card-content" (mouseover)="mouseIn()" (mouseout)="mouseOut()">
      <span>
        <h4>
          {{order.holding.symbol}}
        </h4>
        <h5>{{order.holding.name}}</h5>
        <ul class="detail-list">
          <li>
            <b>Type</b> {{order.side}}
          </li>
          <li>
            <b>Quantity</b> {{order.quantity}}
          </li>
          <li>
            <b>Order</b> {{order.orderSize}}
          </li>
        </ul>
      </span>
      <span *ngIf="actionMode">
        <button pButton type="button" label="Delete" icon="pi pi-times-circle" class="mini-card-button ui-button-danger"
          (click)="deleteCard()"></button>
      </span>
    </div>
  </p-card>
</div>
