<div class="shopping-list">
  <p-accordion>
    <p-accordionTab header="Import Orders">
      <app-xls-import (onImport)="import($event)"></app-xls-import>
    </p-accordionTab>
    <p-accordionTab header="Settings">
      <app-setting-controls></app-setting-controls>
    </p-accordionTab>
    <p-accordionTab header="Profit Loss Table">
      <app-daytrade-score-board [buyOrders]="cartService.buyOrders" [otherOrders]="cartService.otherOrders"
        [totalScore]="scoreKeeperService.total"></app-daytrade-score-board>
    </p-accordionTab>
  </p-accordion>

  <h1 mat-subheader>Shopping List</h1>
  <app-pokerhand></app-pokerhand>
  <div class="action-buttons">
    <p-splitButton label="Start Orders" (onClick)="confirmStart()" [model]="multibuttonOptions" icon="pi pi-dollar"
      styleClass="ui-button-success"></p-splitButton>
    <app-default-order-lists class="default-orders-button"></app-default-order-lists>
  </div>

  <app-orders-list></app-orders-list>

  <p-accordion>
    <p-accordionTab header="SMS">
      <app-sms-card></app-sms-card>
    </p-accordionTab>
  </p-accordion>

  <p-accordion>
    <p-accordionTab header="Other">
      <input type="text" [formControl]="simpleCardForm" pInputText />
      <button pButton (click)="addSimpleCard()" label="Add Simple Card"></button>
      <div *ngFor="let simpleCard of simpleCards" class="order-card">
        <app-simple-card [order]="simpleCard">
        </app-simple-card>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion>
    <p-accordionTab header="Machine Learning">
      <button pButton-button (click)="addMlCard()" label="Add Machine Learning Card"></button>
      <div *ngFor="let mlCard of mlCards" class="order-card">
        <app-neuro-card [order]="mlCard"></app-neuro-card>
      </div>
      <div class="order-card">
        <app-ml-card></app-ml-card>
      </div>
      <div class="order-card">
        <app-ml-batch-card></app-ml-batch-card>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
