<div class="shopping-list">
  <h1 mat-subheader>Shopping List</h1>
  <p>Import and execute your trading algorithms</p>
  <app-setting-controls></app-setting-controls>
  <div>
    <button mat-button color="warn" (click)="stopAndDeleteOrders()">Delete Orders</button>
    <button mat-raised-button color="warn" (click)="closeAllTrades()">Close Opened DayTrades</button>
    <button mat-button color="primary" (click)="loadExamples()">Load Example Orders</button>
    <button mat-raised-button color="primary" (click)="confirmStart()" [disabled]="globalSettingsService.backtesting">Start</button>
  </div>
  <div *ngFor="let buys of cartService.buyOrders">
    <app-score-board [title]="buys.holding.symbol" [score]="scoreKeeperService.profitLossHash[buys.holding.symbol]"></app-score-board>
  </div>
  <div *ngFor="let other of cartService.otherOrders">
    <app-score-board [title]="other.holding.symbol" [score]="scoreKeeperService.profitLossHash[other.holding.symbol]"></app-score-board>
  </div>
  <app-score-board [title]="'Total'" [score]="scoreKeeperService.total"></app-score-board>
  <div *ngFor="let sell of cartService.sellOrders">
    <app-bb-card [order]="sell" [triggeredBacktest]="sell.triggeredBacktest" [init]="sell.init" [tearDown]="sell.stopped">
    </app-bb-card>
  </div>
  <div *ngFor="let buy of cartService.buyOrders">
    <app-bb-card [order]="buy" [triggeredBacktest]="buy.triggeredBacktest" [init]="buy.init" [tearDown]="buy.stopped">
    </app-bb-card>
  </div>
  <div *ngFor="let other of cartService.otherOrders">
    <app-bb-card [order]="other" [triggeredBacktest]="other.triggeredBacktest" [init]="other.init" [tearDown]="other.stopped">
    </app-bb-card>
  </div>
  <hr>
  <h1 matTooltip="Disregards global settings.">Default Orders</h1>
  <span *ngIf="upro">
    <app-simple-card [order]="upro">
    </app-simple-card>
  </span>
  <span *ngIf="spxu">
    <app-simple-card [order]="spxu">
    </app-simple-card>
  </span>
  <app-ml-card></app-ml-card>
</div>
