<mat-card *ngIf="order">
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Order</ng-template>
        <mat-chip>{{order.holding.symbol}}</mat-chip>
        <p>{{order.holding.name}}</p>
        <h3>{{order.side}}</h3>
        <mat-form-field hintLabel="Quantity">
          <input matInput type="number" placeholder="Quantity" formControlName="quantity" required>
        </mat-form-field>
        <mat-form-field hintLabel="Max loss tolerated">
          <input matInput type="number" placeholder="Loss Threshold" formControlName="lossThreshold" required>
        </mat-form-field>
        <mat-form-field hintLabel="Max profit tolerated">
          <input matInput type="number" placeholder="Profit Threshold" formControlName="profitThreshold" required>
        </mat-form-field>
        <mat-form-field hintLabel="Size of Each Order">
          <input matInput type="number" placeholder="Orders" formControlName="orderSize" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Pricing</ng-template>
      <mat-card>
        <div *ngIf="live">
          <mat-chip color="warn" selected="true">LIVE</mat-chip>
          <mat-progress-bar mode="determinate" color="accent" value="progress()"></mat-progress-bar>
          Orders Submitted: {{orders.length || 0}}/{{firstFormGroup.value.quantity || 0}}
        </div>
        <div class="toolbar-content" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div fxFlex="10%">
            <mat-card-header>
              <mat-card-title>{{order.holding.symbol}}</mat-card-title>
              <mat-card-subtitle>{{order.quantity}} share</mat-card-subtitle>
              <p mat-line>{{order.side}} </p>
              <p mat-line>${{order.price}} </p>
              <mat-icon mat-list-icon *ngIf="order.submitted==true">check_circle</mat-icon>
            </mat-card-header>
          </div>
          <div fxFlex="90%">
            <div [chart]="chart"></div>
            <div [chart]="volumeChart"></div>
          </div>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="stop()">STOP</button>
          <button mat-button color="primary" (click)="play(false)">Backtest</button>
          <button mat-button color="warn" (click)="openDialog()">GO LIVE</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Ordering</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>