<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{stock}}</mat-card-title>
    <mat-card-subtitle>{{stock}}</mat-card-subtitle>
  </mat-card-header>
  <div>
    <span [hidden]="!resolving">
      <mat-spinner></mat-spinner>
    </span>
    <span [hidden]="resolving">
      <div [chart]="chart"></div>
    </span>
  </div>
  <mat-card-content>
    <p>
      {{stock}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>