<div class="ai-picks p-grid">
  <div class="p-col">
    <p-card header="Buys Predictions">
      <p-table [value]="buys">
        <ng-template pTemplate="caption">
          <p-button class="ui-button-danger" icon="pi pi-times" iconPos="right" label="Remove all"
            (click)="removeAllBuys()"></p-button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Prediction</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.label}}</td>
            <td>
              <div class="ui-g-12" *ngFor="let prediction of product.value">
                Day {{prediction.algorithm}}:
                <span [ngClass]="{'bullish-title': prediction.prediction >= 0.75}">
                  {{prediction.prediction}}
                </span>
                <span>(accuracy: {{prediction.accuracy}})</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Sells Predictions">
      <p-table [value]="sells">
        <ng-template pTemplate="caption">
          <p-button class="ui-button-danger" icon="pi pi-times" iconPos="right" label="Remove all"
            (click)="removeAllSells()"></p-button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Prediction</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.label}}</td>
            <td>
              <div class="ui-g-12" *ngFor="let prediction of product.value">
                Day {{prediction.algorithm}}:
                <span [ngClass]="{'bullish-title': prediction.prediction >= 0.75}">
                  {{prediction.prediction}}
                </span>
                <span>(accuracy: {{prediction.accuracy}})</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Historical Predictions">
      <p-listbox [options]="history" [listStyle]="{'max-height':'250px'}">
        <p-header>
          <input type="text" pInputText [(ngModel)]="historicalStock" class="ai-picks-input-field ai-picks-button" />
          <input name="endDate" type="date" class="ai-picks-input-field ai-picks-button" [ngModel]="endDate"
            (ngModelChange)="endDate = $event">
          <button pButton type="button" label="Search" class="ui-button-success ai-picks-button" (click)="trainStock()"
            *ngIf="!isLoading"></button>
          <button pButton type="button" label="Update Chart" class="ui-button-info ai-picks-button"
            (click)="updateChart()" *ngIf="!isLoading"></button>
          <div *ngIf="isLoading">loading...</div>
        </p-header>
        <ng-template let-history pTemplate="item">
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-12">
                <h5>{{history.label}} <i class="pi pi-times" (click)="removeFromHistoryList(history.label)"></i></h5>
              </div>
              <div class="ui-g-12" *ngFor="let prediction of history.value">
                Day {{prediction.algorithm}}:
                <span
                  [ngClass]="{'bearish-title': prediction.prediction < 0.5, 'bullish-title': prediction.prediction >= 0.5}">
                  {{prediction.prediction}}
                </span>
                <span>(date: {{prediction.date}})</span>
                <span>(accuracy: {{prediction.accuracy}})</span>

              </div>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </p-card>
  </div>
</div>