<div class="ai-picks p-grid">
  <div class="p-col">
    <p-card header="Buys Predictions">
      <p-listbox [options]="buys" [listStyle]="{'max-height':'250px'}">
        <p-header>
          <img src="../../assets/bull.png" style="display:inline-block;margin:5px 0 0 5px" width="48">
        </p-header>
        <ng-template let-buy pTemplate="item">
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-12">
                <h5>{{buy.label}} <i class="pi pi-times" (click)="removeFromBuyList(buy.label)"></i></h5>
              </div>
              <div class="ui-g-12" *ngFor="let prediction of buy.value">
                Day {{prediction.algorithm}}:
                <span [ngClass]="{'bullish-title': prediction.prediction >= 0.5}">
                  {{prediction.prediction}}
                </span>
                <span>(accuracy:{{prediction.accuracy}})</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Sells Predictions">
      <p-listbox [options]="sells" [listStyle]="{'max-height':'250px'}">
        <p-header>
          <img src="../../assets/bear.png" style="display:inline-block;margin:5px 0 0 5px" width="48">
        </p-header>
        <ng-template let-sell pTemplate="item">
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-12">
                <h5>{{sell.label}} <i class="pi pi-times" (click)="removeFromSellList(sell.label)"></i></h5>
              </div>
              <div class="ui-g-12" *ngFor="let prediction of sell.value">
                Day {{prediction.algorithm}}:
                <span [ngClass]="{'bearish-title': prediction.prediction < 0.5}">
                  {{prediction.prediction}}
                </span>
                <span>(accuracy:{{prediction.accuracy}})</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </p-card>
  </div>
</div>
