<div class="p-grid">
  <div class="p-col">
    <h3>Buys</h3>
    <p-listbox [options]="buys" [listStyle]="{'max-height':'250px'}">
      <ng-template let-buy pTemplate="item">
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-12">Symbol: <b>{{buy.label}}</b></div>
            <div class="ui-g-12">Day: <b>{{buy.value.algorithm}}</b></div>
            <div class="ui-g-12">Prediction: <b>{{buy.value.prediction}}</b></div>
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <div class="p-col">
    <h3>Sells</h3>
    <p-listbox [options]="sells" [listStyle]="{'max-height':'250px'}">
      <ng-template let-sell pTemplate="item">
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-12">Symbol: <b>{{sell.label}}</b></div>
            <div class="ui-g-12">Day: <b>{{sell.value.algorithm}}</b></div>
            <div class="ui-g-12">Prediction: <b>{{sell.value.prediction}}</b></div>
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</div>
