<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Import File
            </mat-panel-title>
            <mat-panel-description>
                Parses stocks from Stock column of Excel file
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-xls-import (onImport)="import($event)"></app-xls-import>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Single Quote Search
            </mat-panel-title>
            <mat-panel-description>
                Type ticker, short term moving average, and long term moving average
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-rh-input (onQuery)="query($event)"></app-rh-input>
    </mat-expansion-panel>
</mat-accordion>
<mat-form-field>
    <mat-select [(value)]="selectedAlgo">
      <mat-option>None</mat-option>
      <mat-option value="v1">V1</mat-option>
      <mat-option value="v2">V2</mat-option>
    </mat-select>
  </mat-form-field>
  
<app-rh-table [data]="stocks" [displayedColumns]="headers" [selectedAlgo]="selectedAlgo"></app-rh-table>