<p-menubar [model]="items">
  <div class="service-status-container">
    <label>Online Status:</label>
    <div class="services-status" (click)="checkStatus()" matTooltip="{{dataText}}">
      <div class="online-status-text">Data Service</div>
      <div class="status-indicator">
        <div class="status-indicator" [ngClass]="{
            'status-on': dataStatus,
            'status-off': !dataStatus}"></div>
      </div>
    </div>
    <div class="services-status" (click)="checkStatus()" matTooltip="{{mlText}}">
      <div class="online-status-text">Machine Learning Service</div>
      <div class="status-indicator">
        <div [ngClass]="{
            'status-on': mlStatus,
            'status-off': !mlStatus}"></div>
      </div>
    </div>
  </div>
</p-menubar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
<p-toast></p-toast>