.table-commands {
  text-align: left;
}

.table-setteings {
  text-align: center;
}

.table-filters {
  text-align: right;
  .filter {
    padding: 0 5px 0 5px;
  }
}

.empty-table {
  padding: 25px;
  text-align: center;
}

.table-title {
  padding: 5px 10px 5px 10px;
}

.global-filter {
  padding: 3px;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
      top: 100px;
  }
}
