<div class="table-container mat-elevation-z8">
    <div class="table-header">
        <md-checkbox [(ngModel)]="actionable">Show Actionable Only</md-checkbox>
        <md-radio-group [(ngModel)]="recommendation">
            <md-radio-button value="buy">Buy</md-radio-button>
            <md-radio-button value="sell">Sell</md-radio-button>
          </md-radio-group>
      </div>
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container mdColumnDef="stock">
      <md-header-cell *mdHeaderCellDef> Stock </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.stock}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="totalReturns">
      <md-header-cell *mdHeaderCellDef> Returns </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.totalReturns}}% </md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="lastVolume">
      <md-header-cell *mdHeaderCellDef> Last Volume </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.lastVolume}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="lastPrice">
      <md-header-cell *mdHeaderCellDef> Last Price </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.lastPrice}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="totalTrades">
      <md-header-cell *mdHeaderCellDef> Trades </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.totalTrades}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="trending">
      <md-header-cell *mdHeaderCellDef> Recommendation </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.trending}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
