.table-commands {
  text-align: left;
}

.table-setteings {
  text-align: center;
}

.table-filters {
  text-align: right;
  .filter {
    padding: 0 5px 0 5px;
  }
}

.empty-table {
  padding: 25px;
  text-align: center;
}
