<app-product-view #product></app-product-view>
<mat-card>
  <div class="table-container mat-elevation-z8">
    <mat-grid-list cols="3" rowHeight="76px">
      <mat-grid-tile>
        <div>
          End Date
          <input type="date" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-group [(ngModel)]="recommendation" (change)="filterRecommendation()">
          <mat-radio-button value="strongbuy">Strong Buy</mat-radio-button>
          <mat-radio-button value="buy">Buy</mat-radio-button>
          <mat-radio-button value="">Any</mat-radio-button>
          <mat-radio-button value="sell">Sell</mat-radio-button>
          <mat-radio-button value="strongsell">Strong Sell</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Trading Algorithm" [(ngModel)]="selectedAlgo" name="algorithm">
            <mat-option *ngFor="let algo of algos" [value]="algo.value">
              {{ algo.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <div id="tableContainer" class="tableContainer">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable">
        <thead class="fixedHeader">
          <tr>
            <th>Stock</th>
            <th>Returns</th>
            <th>Last Volume</th>
            <th>Last Price</th>
            <th>Trades</th>
            <th>Recommendation</th>
            <th>Strong Buy</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Strong Sell</th>
          </tr>
        </thead>
        <tbody class="scrollContent">
          <tr *ngFor="let element of currentList">
            <td>
              <span> {{element.stock}}
                  <button mat-button color="primary" (click)="buy(element)">BUY</button>
                  <button mat-button color="warn" (click)="sell(element)">SELL</button>
              </span>
            </td>
            <td>
              <span>
                {{element.returns}}%
              </span>
            </td>
            <td>
              <span> {{element.lastVolume | number}}
              </span>
            </td>
            <td>
              <span>
                {{element.lastPrice | currency}}
              </span>
            </td>
            <td>
              <span>
                {{element.totalTrades}}
              </span>
            </td>
            <td>
              <span>
                {{element.recommendation}}
                <span *ngIf="selectedAlgo==='v1'">
                  <button mat-icon-button (click)="product.load(element, endDate)">
                    <mat-icon>show_chart</mat-icon>
                  </button>
                </span>
                <span *ngIf="selectedAlgo==='v2'">
                  <button mat-icon-button (click)="product.loadV2Chart(element, endDate)">
                    <mat-icon>show_chart</mat-icon>
                  </button>
                </span>
              </span>
            </td>
            <td>
              <span *ngIf="element.strongbuySignals">
                {{element.strongbuySignals.length}}
              </span>
            </td>
            <td>
              <span *ngIf="element.buySignals">
                {{element.buySignals.length}}
              </span>
            </td>
            <td>
              <span *ngIf="element.sellSignals">
                {{element.sellSignals.length}}
              </span>
            </td>
            <td>
              <span *ngIf="element.strongsellSignals">
                {{element.strongsellSignals}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    Progress: {{progress}}/{{totalStocks}}
    <mat-progress-bar mode="determinate" value="{{progressPct}}"></mat-progress-bar>
    Average Trades: {{algoReport.averageTrades}}
    Average Returns: {{algoReport.averageReturns}}%
  </div>
</mat-card>