<p-table [value]="potentialBuys" [paginator]="true" [rows]="10" dataKey="name" selectionMode="single"
  (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="caption">
    <div class="find-recommendation-btn">
      <button pButton type="button" label="Recommend a Stock" class="ui-button-success" (click)="findStock()" *ngIf="!loading">
      </button>
    </div>
    <app-default-order-lists class="default-orders-button" [prefillOrderForm]="prefillOrderForm">
    </app-default-order-lists>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Stock</th>
      <th>Buy Reasons</th>
      <th>Buy Confidence</th>
      <th>Sell Reasons</th>
      <th>Sell Confidence</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-holding>
    <tr [pSelectableRow]="holding">
      <td class="table-cell">{{holding.name}}</td>
      <td class="table-cell">{{holding.buyReasons}}</td>
      <td class="table-cell">{{holding.buyConfidence}}</td>
      <td class="table-cell">{{holding.sellReasons}}</td>
      <td class="table-cell">{{holding.sellConfidence}}</td>
    </tr>
  </ng-template>
</p-table>

<app-ai-picks></app-ai-picks>

<app-pokerhand></app-pokerhand>
