<p-card>
  <div class="banner" *ngIf="error">
    <div class="banner-content">
      ERROR: {{error}}
    </div>
  </div>
  <div class="banner-warning" *ngIf="warning">
    <div class="banner-content-warning">
      WARNING: {{warning}}
    </div>
  </div>
  <p-steps [model]="stepMenuItems" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

  <mat-card *ngIf="activeIndex === 0">
    <form [formGroup]="firstFormGroup">
      <h3>Machine Learning Batch Order</h3>
      <h4>Current Brokerage: {{globalSettingsService.brokerage}}</h4>
      <section>
        <mat-grid-list cols="4" rowHeight="25px">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
              <input matInput placeholder="Amount (rounded up)" type="number" formControlName="amount" required>
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="2">
            <mat-slide-toggle [formControl]="testing" (change)="setTest()">
              Test Mode
            </mat-slide-toggle>
          </mat-grid-tile>
        </mat-grid-list>
      </section>
      <div>
        <p-button (click)="activeIndex = 1">Next</p-button>
      </div>
    </form>
  </mat-card>
  <div *ngIf="activeIndex === 1">
    <mat-card>
      <div *ngIf="live">
        <p-tag styleClass="p-mr-2" value="Active"></p-tag>
      </div>
      <div *ngIf="!live">
        <p-chip label="Inactive"></p-chip>
      </div>
      <div>
        Orders Submitted: {{ holdingCount}} shares
      </div>
      <p-button (click)="resetStepper()">STOP</p-button>
      <p-button (click)="openDialog()">GO LIVE</p-button>
      <p-button (click)="trainModel()">Train Model</p-button>
    </mat-card>
  </div>
</p-card>