<mat-card class="todo-card">
  <mat-card-header>
    <mat-card-title>Todo List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="todo-item">
        <mat-checkbox [(ngModel)]="todoService.marketAnalysis">
          <div class="checkbox-label">
            Market Analysis
          </div>
        </mat-checkbox>
      </mat-list-item>
      <mat-list-item class="todo-item">
        <mat-checkbox [(ngModel)]="todoService.screenStocks">
          <div class="checkbox-label">
            Screen Stocks
          </div>
        </mat-checkbox>
      </mat-list-item>
      <mat-list-item class="todo-item">
        <mat-checkbox [(ngModel)]="todoService.intradayBacktest">
          <div class="checkbox-label">
            Intraday Backtest
          </div>
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
