/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  display: block;
  margin: 0;
}

button.nav-item {
  width:200px;
  text-align: left;
}