/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  display: block;
  margin: 0;
}

button.nav-item {
  width:160px;
  text-align: left;
}

.mat-checkbox-layout {
  white-space: pre-wrap !important;
}

.table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.app-title {
  color: white;
  font-weight: 800;
  padding: 0 0 0 35px;
  font-family: monospace;
}

.mat-drawer-inner-container {
  background-color: #2c2c52;
  color: white;
}

.online-status-text {
  font-size: 10px;
}
