<mat-card class="example-card">
  <mat-card-header>
    <mat-chip-list>
      <mat-chip selected="true" [color]="chipColor">
        {{data.side}}
      </mat-chip>
    </mat-chip-list>
    <mat-card-subtitle>{{data.holding.symbol}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{data.holding.name}}
    </p>
    <form class="example-container" [formGroup]="options" (ngSubmit)="order()">
      <mat-form-field>
        <input matInput type="number" placeholder="Quantity" formControlName="quantity" min="0">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Price" formControlName="price" min="0" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="form-group">
      <div *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <span *ngIf="!loading">
        <button mat-raised-button (click)="order()">Submit</button>
        <button mat-icon-button (click)="addToCart()">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
      </span>
    </div>
  </mat-card-actions>
</mat-card>