<div class="daytrade-container">
    <p-table [value]="currentTrades" [paginator]="true" [rows]="3" dataKey="stock" selectionMode="single"
        [resizableColumns]="true" columnResizeMode="expand">
        <ng-template pTemplate="caption">
            <div class="caption-container">
                <div class="caption-items">
                    <p-button icon="pi pi-refresh" label="Find day trades" styleClass="p-button-success"
                        (click)="findTrades()"></p-button>
                </div>
                <div class="caption-items">
                    <p-button icon="pi pi-refresh" label="Current holdings" styleClass="p-button-success"
                        (click)="getCurrentHoldings()"></p-button>
                </div>
                <p-inputNumber [(ngModel)]="dollarAmount" [showButtons]="true" buttonLayout="horizontal"
                    inputId="horizontal" spinnerMode="horizontal" [step]="1000" decrementButtonClass="p-button-danger"
                    incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus" mode="currency" currency="USD"></p-inputNumber>
                <div class="caption-items">
                    <p-button icon="pi pi-refresh" label="Max allocation" styleClass="p-button-success"
                        (click)="maxAllocation()"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Stock</th>
                <th>Recommendations</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trade>
            <tr>
                <td>{{ trade.stock }}</td>
                <td>{{ trade.recommendations }}</td>
                <td>{{ trade.time }}</td>
                <td>
                    <div class="caption-items">
                        <p-button pRipple label="Buy" styleClass="p-button-success"
                            (click)="sendBuy(trade.stock)"></p-button>
                    </div>
                    <div class="caption-items" *ngIf="trade.orderQuantity">
                        <p-button pRipple label="Sell" styleClass="p-button-danger"
                            (click)="sendSell(trade.stock, trade.orderQuantity)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>