.actions-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  .custom-controls {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  .custom-text-input {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    .check-button {
      :host ::ng-deep .p-button.p-button-icon-only {
        font-size: 1em;
      }
    }
  }
}

.order-form-item {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  input {
    width: 3em;
    height: 2.5em;
  }
}

.card-form {
  margin: 5px;
  min-height: 8em;
}

.loading-screen {
  min-height: 18em;
}

.error-message {
  color: red;
  margin-left: 5px;
}