<p-dialog header="Add Orders" [(visible)]="display" [appendTo]="'body'" [draggable]="true" [dismissableMask]="true"
  [responsive]="true" (onShow)="onShow()" (onHide)="onHide()" [maximizable]="true"
  [style]="{width: '90%', height: '80%'}">
  <div class="ui-g">
    <div class="ui-g-6">
      <p-listbox [options]="defaultLists" [(ngModel)]="selectedList" (onChange)="changedSelection($event.value)">
      </p-listbox>
    </div>
    <div class="ui-g-6">
      <div *ngIf="isLoading" class="loading-screen">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div *ngIf="!isLoading">
        <div class="actions-inputs">
          <div class="custom-controls">
            <button pButton type="button" label="Add to Cart" class="ui-button-success"
              (click)="addSelectedList()"></button>
          </div>
          <div class="custom-controls">
            <button pButton type="button" label="Cash Balance" class="ui-button-info"
              (click)="getCashBalance()"></button>
          </div>
          <div class="custom-controls">
            <button pButton type="button" label="Portfolio Total" class="ui-button-secondary"
              (click)="getPortfolioTotal()"></button>
          </div>
          <div class="custom-controls">
            <form [formGroup]="firstFormGroup">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">$</span>
                <input type="text" #searchBox id="search-box" pInputText placeholder="Amount"
                  (input)="updatedAmount(searchBox.value)" formControlName="amount">
                <span class="ui-inputgroup-addon">.00</span>
              </div>
            </form>
          </div>
          <div class="custom-text-input">
            <form [formGroup]="symbolsForm" novalidate>
              <input type="text" style="margin-bottom: 1em;" pInputText formControlName="list" placeholder="Ex. NFLX, AAPL, MSFT" (keyup.enter)="readStockList()" />
            </form>
            <p-button icon="pi pi-check" class="check-button" (click)="readStockList()"></p-button>
          </div>
        </div>
        <div class="card-form">
          <p-card>
            <form [formGroup]="addOrderFormGroup">
              <div class="order-form-item">
                <input type="text" pInputText placeholder="Stock" class="uppercase" formControlName="symbol">
                <p-dropdown [options]="sides" formControlName="side"
                  [style]="{'minWidth':'50px', 'width':'93px', 'margin-left':'5px'}"></p-dropdown>
              </div>
              <div class="order-form-item">
                <p-spinner formControlName="allocation"
                  [inputStyle]="{'width': '5em', 'height': '2em', 'margin-left': '5px'}" [step]="0.1" [min]="0"
                  [max]="9">
                </p-spinner>
                &nbsp;x 100%
              </div>
            </form>
            <p-footer>
              <div class="order-form-item">
                <button pButton type="button" icon="pi pi-plus-circle" (click)="addCustomList()"
                  class="ui-button-success"></button>
                &nbsp;
                <button pButton type="button" icon="pi pi-ticket" (click)="addMachineTrade()"
                  class="ui-button-info"></button>
                <div *ngIf="errorMsg" class="error-message">{{errorMsg}}</div>
              </div>
            </p-footer>
          </p-card>
        </div>
        <div class="order-cards">
          <div *ngFor="let order of templateOrders" class="order-form-item">
            <app-mini-card [order]="order" (delete)="delete($event)"></app-mini-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<button type="button" *ngIf="!hideButton" (click)="showDialog()" pButton icon="pi pi-list" label="Add"></button>