<p-card>
  <div class="banner" *ngIf="error">
    <div class="banner-content">
      ERROR: {{error}}
    </div>
  </div>
  <div class="banner-warning" *ngIf="warning">
    <div class="banner-content-warning">
      WARNING: {{warning}}
    </div>
  </div>
  <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Edit Order</ng-template>
        <mat-chip color="primary" selected>{{ bullishPlay.value }}</mat-chip>
        <mat-chip color="warn" selected>{{ bearishPlay.value }}</mat-chip>
        <h3>Machine Learning</h3>
        <p>Use RNN model to determine whether go bullish or bearish after hours.</p>
        <h4>Current Brokerage: {{globalSettingsService.brokerage}}</h4>
        <section>
          <mat-grid-list cols="4" rowHeight="25px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field>
                <mat-label>Model</mat-label>
                <mat-select [formControl]="selectedModel">
                  <mat-option value="V2">Version 2</mat-option>
                  <mat-option value="V3">Version 3</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field>
                <input matInput placeholder="Amount (rounded up)" type="number" formControlName="amount" required>
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field>
                <mat-label>Bull</mat-label>
                <mat-select [formControl]="bullishPlay">
                  <mat-option value="UPRO">UPRO</mat-option>
                  <mat-option value="SPY">SPY</mat-option>
                  <mat-option value="QQQ">QQQ</mat-option>
                  <mat-option value="TQQQ">TQQQ</mat-option>
                  <mat-option value="CUSTOM">Custom</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [hidden]="bullishPlay.value !== 'CUSTOM'">
              <mat-form-field hintLabel="Symbol">
                <input matInput type="text" placeholder="Symbol"
                  formControlName="symbol" required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field>
                <mat-label>Bear</mat-label>
                <mat-select [formControl]="bearishPlay">
                  <mat-option value="SPXU">SPXU</mat-option>
                  <mat-option value="SH">SH</mat-option>
                  <mat-option value="TLT">TLT</mat-option>
                  <mat-option value="SHY">SHY</mat-option>
                  <mat-option value="SHY">GLD</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field>
                <mat-label>Settings</mat-label>
                <mat-select [formControl]="settings">
                  <mat-option value="closePositions">Close Positions</mat-option>
                  <mat-option value="openPositions">Open Positions</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field>
                <mat-select placeholder="Multiplier" [formControl]="multiplierPreference" name="multiplier">
                  <mat-option *ngFor="let mulitiplier of multiplierList" [value]="mulitiplier">
                    {{ mulitiplier }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
              <mat-slide-toggle [formControl]="testing" (change)="setTest()">
                Test Mode
              </mat-slide-toggle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
              <mat-slide-toggle [formControl]="longOnly">
                Long only
              </mat-slide-toggle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
              <mat-slide-toggle [formControl]="allIn" [disabled]="globalSettingsService.brokerage==='Robinhood'" (change)="activateAllIn()">
                <a matTooltip="Buy with all available balance">
                  All In
                </a>
              </mat-slide-toggle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
              <mat-slide-toggle [formControl]="inverse">
                <a matTooltip="Inverse play">
                  Inverse
                </a>
              </mat-slide-toggle>
            </mat-grid-tile>
          </mat-grid-list>
        </section>
        <div>
          <button mat-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Place Order</ng-template>
      <mat-card>
        <div *ngIf="live">
          <mat-chip color="warn" selected="true">LIVE</mat-chip>
        </div>
        <div *ngIf="!live">
          <button mat-raised-button disabled>STALLED</button>
        </div>
        <div>
          Orders Submitted: {{ holdingCount}} shares
        </div>
        <div class="toolbar-content" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px"
          fxLayoutGap.xs="0">
          <div fxFlex="5%">
            <mat-card-header>
              <mat-card-title>RNN Algo</mat-card-title>
            </mat-card-header>
          </div>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="resetStepper(stepper)">STOP</button>
          <button mat-button color="warn" (click)="goLiveClick()">GO LIVE</button>
          <button mat-button color="primary" (click)="trainModel()">Train Model</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</p-card>
