<mat-card>
  <div class="banner" *ngIf="error">
    <div class="banner-content">
      ERROR: {{error}}
    </div>
  </div>
  <div class="banner-warning" *ngIf="warning">
    <div class="banner-content-warning">
      WARNING: {{warning}}
    </div>
  </div>
  <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Edit Order</ng-template>
        <!-- <mat-chip>{{bearishOrder.holding.symbol}} - {{bullishOrder.holding.symbol}}</mat-chip> -->
        <h5>ML Algo</h5>
        <p>Request to RNN model to determine whether to tomorrow will open down or up.</p>
        <mat-form-field>
          <input matInput placeholder="Amount (rounded up)" type="number" formControlName="amount" required>
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <section>
          <mat-slide-toggle [formControl]="longOnly">
            Long only
          </mat-slide-toggle>
        </section>
        <div>
          <button mat-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Place Order</ng-template>
      <mat-card>
        <div *ngIf="live">
          <mat-chip color="warn" selected="true">LIVE</mat-chip>
        </div>
        <div *ngIf="!live">
          <button mat-raised-button disabled>STALLED</button>
        </div>
        <div>
          Orders Submitted: {{ holdingCount}} shares
        </div>
        <div class="toolbar-content" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px"
          fxLayoutGap.xs="0">
          <div fxFlex="5%">
            <mat-card-header>
              <mat-card-title>RNN Algo</mat-card-title>
              <mat-card-subtitle>
                <p>Request to RNN model to determine whether to tomorrow will open down or up.</p>
              </mat-card-subtitle>
            </mat-card-header>
          </div>
          <div fxFlex="95%">
            <div class="order-log">
              <mat-grid-list cols="3" rowHeight="150px">
                <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
                  <table>
                    <tr *ngFor="let order of tile.orders">
                      <!-- <td>{{order.signalTime}}</td>
                      <td>{{order.action}}</td>
                      <td>{{order.quantity}}@</td>
                      <td>${{order.price}}</td>
                      <td> on {{order.timeSubmitted}}</td> -->
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="resetStepper(stepper)">STOP</button>
          <button mat-button color="warn" (click)="openDialog()">GO LIVE</button>
          <button mat-button color="primary" (click)="trainModel()">Train Model</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
