<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.symbol }}
        <button mat-button color="primary" (click)="buy(row)">BUY</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gainz">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gainz </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.gainz | percent}}
        <button mat-button color="warn" (click)="sell(row)">SELL</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.quantity | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="realtime_price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.realtime_price | currency }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="average_buy_price">
      <mat-header-cell *matHeaderCellDef>Cost Basis</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.average_buy_price | currency }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Volume">
      <mat-header-cell *matHeaderCellDef>Volume</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.Volume | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="PERatio">
      <mat-header-cell *matHeaderCellDef>PE</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.PERatio }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="realtime_chg_percent">
      <mat-header-cell *matHeaderCellDef>Last Change</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.realtime_chg_percent }}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="diversification">
      <mat-header-cell *matHeaderCellDef>Diversification</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.diversification | percent:'1.2-3'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.created_at | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef disableClear="true">
        Updated
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.updated_at | date }}

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
